body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

button{
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0px;
}

nav{
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
}

input[type="text"]{
    border: none;
}